<%- include('partials/header') %>



<div class="posts active POST">
    <h1 class="postTitle"  ><%= Post.title %></h1>
    <div class="IMG">
      
      <img src=<%= Post.imagePath.slice(6,Post.imagePath.length) %> alt= <%= Post.imagePath.slice(6,Post.imagePath.length) %> class="img">
      
      </div>
      <p class="post-content" id="content"> <%= Post.content %></p>
      
    <div class="info">
        <i>Posted by User : <a href="/user/<%= Post.username %>"><%= Post.username %></a></i>
        <i>Posted On : <%= Post.date %> </i>
      </div>
      
    <div class="com">
     
      <form action="/like" method="post">
      <input type="hidden" value=<%= Post._id %> name = "post_id">
      <button type="submit"> 
      <span class="likes"><%= Post.likes.length %> </span>
        <i class="fa-regular fa-heart fa-2x"  id="like" ></i> 
      </button>
    </form>
    
    
      <i class="fa-regular fa-comment fa-2x" id="comment"></i>
    </div>
</div>
    
<div class="comments">
  <div class="close" id="close"><i class="fa-solid fa-x"></i></div>
  <form  method="POST" action="/comment">
    <div class="form-group form-inline comm">
      <input class="form-control col-lg-9 " id="com" autocomplete="off" type="text" placeholder="Add comment" name="comment"  >
      <input type="hidden" name="title" value  =<%= Post._id %> >
      <input type="hidden" name="Name" value= <%= Post.title %> >
    <button class="btn btn-outline-success col-lg-2" type="submit"  >Post</button>
    </div>
    
  </form>


  
  <div class="data">
    <% Post.comments.forEach(function(Comment){ %>
    <p class="comment-data"> User : <%= Comment.username %>  <%= Comment.date %>:
      <br> <span> <%= Comment.comment %></span></p>
    <% }) %>
  </div>
 
 </div>

<p class="LogOut"><a class="btn btn-light btn-lg " href="/logout" role="button"> Log Out  <span class="material-symbols-outlined">
    logout
    </span></a></p>
  
    <a class="btn btn-dark btn-lg HomePage" href="/Main" role="button">Home Page</a>
    
    <a class="btn btn-dark btn-lg uploadPost" href="/submit" role="button">New Post</a>
    
  
    <a class="btn btn-dark btn-lg UserPage" href="/user" role="button">User</a>
  
  <form class="form-inline search " method="POST" action="/posts">
    <input class="form-control mr-sm-2"  type="search" placeholder="Search" name="search"  autocomplete= "off" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  >Search</button>


    
  </form>


<script src="/js/posts.js"></script>
</body>
</html>