<%- include('partials/header') %>


<div class="User">
<div class="user-icon">
    <div class="user-border">
        <img src="/Images/user.png" alt="">
    </div>  
        <h1 class="user-name"><%= User %></h1>
    
</div>


<div class="User-data">
        <div class="data-posts">
            <p class="data-posts"><i>Posts posted : <%= posts %> </i> </p>
        </div>

    
</div>

</div>




<div class="posts-User">

    <% Post.reverse().forEach(function(post){ %>
        
        <div class="UserPost"> 
            <div class="posts-border"> 
           
            <a href="/posts/<%= post.title %>">
                <img src=<%= post.imagePath.slice(6,post.imagePath.length) %> alt= <%= post.imagePath.slice(6,post.imagePath.length) %> class="img-Post">
            </a>
              <div class="Pinfo">
                <p class="post-info"><span><i class="fa-solid fa-heart fa-2x"></i>  <%= post.likes.length %></span>   <span><i class="fa-regular fa-comment fa-2x"></i>  <%= post.comments.length %></span></p>
            </div>
            </div>
            
        </div>
        <% }) %>
</div>




<p class="LogOut"><a class="btn btn-light btn-lg " href="/logout" role="button"> Log Out  <span class="material-symbols-outlined">
    logout
    </span></a></p>


    <a class="btn btn-dark btn-lg HomePage" href="/Main" role="button">Home Page</a>
    
    <a class="btn btn-dark btn-lg uploadPost" href="/submit" role="button">New Post</a>
    
  
    <a class="btn btn-dark btn-lg UserPage" href="/user" role="button">User</a>
  
  <form class="form-inline search " method="POST" action="/posts">
    <input class="form-control mr-sm-2"  type="search" placeholder="Search" name="search"  autocomplete= "off" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  >Search</button>
  </form>


  <script src="/js/user.js" defer></script>
</body>
</html>
